/* font for header of page */

html{
	font-size: 14px;
}

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

.rating_text{
	
	color:white;
	float:left;
	margin:20px;
}
/* mall background */
body{
	background-image: url('../images/mall.jpeg');
	

}
.shopping_btn{
	padding:3px;
	color:white;
	background-color:black;
	margin:5px;
	font-size:1.5em;
}
h1{
	font-family: 'Rock Salt', cursive;
	font-size:3.5em;

}
.container{
	width:100vh;
	background-color: black;
	width:70vw;
	border: grey solid 1px;
}



/* Width at 640px and below  */
@media only screen and (max-width: 640px) {


	.shopping_btn{
		font-size:1em;
	}

	.rating_text{
		font-size: 0.8em;
	}

	.container{
		width:90vw;
	}
}